In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [69]:
Beijing = pd.read_csv("Beijing.csv")

In [70]:
Beijing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207891 entries, 0 to 207890
Data columns (total 8 columns):
Unnamed: 0    207891 non-null int64
Name          207890 non-null object
Street        207886 non-null object
X             207891 non-null float64
Y             207891 non-null float64
District      207891 non-null object
Type          207891 non-null object
Other         207891 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 12.7+ MB

In [71]:
Beijing.Type.nunique()

230

In [72]:
Beijing.District.value_counts().head(20)

北京市;朝阳区     47233
北京市;海淀区     27872
北京市;丰台区     19020
北京市;昌平区     15334
北京市;大兴区     14141
北京市;西城区     13374
北京市;通州区     12420
北京市;东城区     10924
北京市;顺义区      9306
北京市;房山区      7583
北京市;密云区      5027
北京市;怀柔区      4168
北京市;石景山区     4102
北京市;平谷区      3448
北京市;延庆区      2952
北京市;门头沟区     1944
北京市;          281
北京市;江宁区       149
北京市;玄武区       148
北京市;鼓楼区       144
Name: District, dtype: int64

In [73]:
district_value = ['北京市;朝阳区','北京市;海淀区','北京市;丰台区','北京市;昌平区','北京市;大兴区','北京市;西城区',
                  '北京市;通州区','北京市;东城区','北京市;顺义区','北京市;房山区','北京市;密云区','北京市;怀柔区',
                  '北京市;石景山区','北京市;平谷区','北京市;延庆区','北京市;门头沟区']

In [74]:
Beijing=Beijing.loc[Beijing.District.isin(district_value)]

In [75]:
del Beijing['Other']

In [76]:
Beijing.head()

,Unnamed: 0,Name,Street,X,Y,District,Type
0,1,弓箭手,东四环四方桥东南角欢乐谷内,39.866495,116.485366,北京市;朝阳区,休闲娱乐;旅游景点
1,10,希尔顿酒店(王府井店),王府井东街8号澳门中心F1-F4层,39.912968,116.407110,北京市;东城区,酒店宾馆;星级酒店
2,19,花园胡同小区-东门,花园胡同16,39.945864,116.397891,北京市;东城区,基础设施;门/出入口
3,28,绮园花园-西南门,秦老胡同35号,39.935765,116.397783,北京市;东城区,基础设施;门/出入口
4,37,安外花园7号楼-东门,和平里北街29号附近,39.957486,116.405613,北京市;东城区,基础设施;门/出入口

In [77]:
temp = Beijing.Type.sort_values()
Type_array = temp.unique()
Tpye_map = {}
n = 0
for i in Type_array:
    #print(i)
    Tpye_map[n] = i
    n+=1
#将map的key与相应value反转
Tpye_map_new = {value:key for key,value in Tpye_map.items()} 
Tpye_map_new

{'交通运输;港口码头': 0,
 '休闲娱乐;KTV': 1,
 '休闲娱乐;其它娱乐休闲': 2,
 '休闲娱乐;剧场音乐厅': 3,
 '休闲娱乐;咖啡厅': 4,
 '休闲娱乐;夜总会': 5,
 '休闲娱乐;娱乐休闲场所附属': 6,
 '休闲娱乐;度假疗养': 7,
 '休闲娱乐;户外活动': 8,
 '休闲娱乐;旅游景点': 9,
 '休闲娱乐;洗浴推拿足疗': 10,
 '休闲娱乐;游乐场': 11,
 '休闲娱乐;电影院': 12,
 '休闲娱乐;网吧': 13,
 '休闲娱乐;茶馆': 14,
 '休闲娱乐;迪厅': 15,
 '休闲娱乐;酒吧': 16,
 '公司企业;公司企业': 17,
 '公司企业;其它机构团体': 18,
 '其它;其它': 19,
 '医疗保健;专科医院': 20,
 '医疗保健;儿科': 21,
 '医疗保健;其它专科医院': 22,
 '医疗保健;其它医疗保健': 23,
 '医疗保健;医疗保健附属': 24,
 '医疗保健;妇产科': 25,
 '医疗保健;宠物医院': 26,
 '医疗保健;急救中心': 27,
 '医疗保健;整形': 28,
 '医疗保健;疾病预防': 29,
 '医疗保健;精神病医院': 30,
 '医疗保健;综合医院': 31,
 '医疗保健;药房药店': 32,
 '医疗保健;诊所': 33,
 '医疗保健;骨科': 34,
 '医疗保健;齿科': 35,
 '地名地址;其它地名地址': 36,
 '地名地址;地名地址信息': 37,
 '地名地址;山': 38,
 '地名地址;河流': 39,
 '地名地址;湖泊': 40,
 '地名地址;热点区域': 41,
 '地名地址;行政地名': 42,
 '地名地址;门牌信息': 43,
 '基础设施;交通设施': 44,
 '基础设施;公交车站': 45,
 '基础设施;公共厕所': 46,
 '基础设施;公用电话': 47,
 '基础设施;其它交通设施': 48,
 '基础设施;其它基础设施': 49,
 '基础设施;其它室内及附属设施': 50,
 '基础设施;地铁站': 51,
 '基础设施;收费站': 52,
 '基础设施;服务区': 53,
 '基础设施;机场附属': 54,
 '基础设施;桥': 55,
 '基础设施;火车站': 56,
 '基础设施;火车站附属': 57,
 '基础设施;紧急避难场所': 58,
 '基础设施;路口': 59,
 '基础设施;通行设施类': 60,
 '基础设施;道路出入口': 61,
 '基础设施;道路名': 62,
 '基础设施;道路附属': 63,
 '基础设施;长途汽车站': 64,
 '基础设施;门/出入口': 65,
 '建筑房产;产业园区': 66,
 '建筑房产;住宅区': 67,
 '建筑房产;住宅小区': 68,
 '建筑房产;其它房产小区': 69,
 '建筑房产;别墅': 70,
 '建筑房产;商务楼宇': 71,
 '建筑房产;宿舍': 72,
 '建筑房产;房产小区附属': 73,
 '建筑房产;社区中心': 74,
 '教育学校;中学': 75,
 '教育学校;保险公司': 76,
 '教育学校;其它教育学校': 77,
 '教育学校;培训': 78,
 '教育学校;大学': 79,
 '教育学校;小学': 80,
 '教育学校;幼儿园': 81,
 '教育学校;成人教育': 82,
 '教育学校;教育学校附属': 83,
 '教育学校;职业技术学校': 84,
 '教育学校;证券公司': 85,
 '文化场馆;会展中心': 86,
 '文化场馆;其它文化场馆': 87,
 '文化场馆;博物馆': 88,
 '文化场馆;图书馆': 89,
 '文化场馆;天文馆': 90,
 '文化场馆;展览馆': 91,
 '文化场馆;文化宫': 92,
 '文化场馆;档案馆': 93,
 '文化场馆;科技馆': 94,
 '文化场馆;美术馆': 95,
 '旅游服务;旅行社': 96,
 '机构团体;传媒机构': 97,
 '机构团体;公共设施': 98,
 '机构团体;公检法机构': 99,
 '机构团体;外国机构': 100,
 '机构团体;工商税务机构': 101,
 '机构团体;政府机关': 102,
 '机构团体;文艺团体': 103,
 '机构团体;民主党派': 104,
 '机构团体;社会团体': 105,
 '机构团体;科研机构': 106,
 '机构团体;车辆管理机构': 107,
 '汽车;二手车交易市场': 108,
 '汽车;停车场': 109,
 '汽车;其它汽车': 110,
 '汽车;加油站': 111,
 '汽车;摩托车': 112,
 '汽车;汽车养护': 113,
 '汽车;汽车救援': 114,
 '汽车;汽车租赁': 115,
 '汽车;汽车维修': 116,
 '汽车;汽车配件销售': 117,
 '汽车;汽车销售': 118,
 '汽车;洗车场': 119,
 '汽车;驾校': 120,
 '生活服务;丧葬': 121,
 '生活服务;中介机构': 122,
 '生活服务;事务所': 123,
 '生活服务;信息咨询中心': 124,
 '生活服务;其它生活服务': 125,
 '生活服务;婚庆服务': 126,
 '生活服务;宠物服务': 127,
 '生活服务;家政': 128,
 '生活服务;废品收购站': 129,
 '生活服务;彩票': 130,
 '生活服务;报刊亭': 131,
 '生活服务;招聘求职': 132,
 '生活服务;摄影冲印': 133,
 '生活服务;教练': 134,
 '生活服务;洗衣店': 135,
 '生活服务;测字风水': 136,
 '生活服务;生活服务场所': 137,
 '生活服务;电力营业厅': 138,
 '生活服务;票务代售': 139,
 '生活服务;福利院养老院': 140,
 '生活服务;美容美发': 141,
 '生活服务;自来水营业厅': 142,
 '生活服务;通讯服务': 143,
 '生活服务;邮局速递': 144,
 '美食;东南亚菜': 145,
 '美食;中餐厅': 146,
 '美食;其它美食': 147,
 '美食;农家菜': 148,
 '美食;冷饮店': 149,
 '美食;官府菜': 150,
 '美食;家常菜': 151,
 '美食;小吃快餐': 152,
 '美食;日韩菜': 153,
 '美食;海鲜': 154,
 '美食;清真': 155,
 '美食;火锅': 156,
 '美食;烧烤': 157,
 '美食;特色中餐': 158,
 '美食;私家菜': 159,
 '美食;素食': 160,
 '美食;自助餐': 161,
 '美食;茶餐厅': 162,
 '美食;西餐': 163,
 '美食;面包甜点': 164,
 '购物;体育户外': 165,
 '购物;便利店': 166,
 '购物;其它购物': 167,
 '购物;农贸市场': 168,
 '购物;化妆品': 169,
 '购物;古玩字画': 170,
 '购物;商业步行街': 171,
 '购物;图书音像': 172,
 '购物;家具家居建材': 173,
 '购物;小商品市场': 174,
 '购物;拍卖典当行': 175,
 '购物;摄影器材': 176,
 '购物;数码家电': 177,
 '购物;文化用品': 178,
 '购物;旧货市场': 179,
 '购物;服饰鞋包': 180,
 '购物;母婴儿童': 181,
 '购物;汽车俱乐部': 182,
 '购物;烟酒专卖': 183,
 '购物;珠宝饰品': 184,
 '购物;眼镜店': 185,
 '购物;礼品': 186,
 '购物;综合商场': 187,
 '购物;自行车专卖': 188,
 '购物;花鸟鱼虫': 189,
 '购物;超市': 190,
 '购物;钟表店': 191,
 '运动健身;乒乓球馆': 192,
 '运动健身;保龄球馆': 193,
 '运动健身;健身中心': 194,
 '运动健身;其它运动健身': 195,
 '运动健身;台球馆': 196,
 '运动健身;壁球场': 197,
 '运动健身;海滨浴场': 198,
 '运动健身;游戏棋牌': 199,
 '运动健身;游泳馆': 200,
 '运动健身;溜冰': 201,
 '运动健身;滑雪': 202,
 '运动健身;瑜伽': 203,
 '运动健身;篮球场': 204,
 '运动健身;综合体育场馆': 205,
 '运动健身;网球场': 206,
 '运动健身;羽毛球馆': 207,
 '运动健身;舞蹈': 208,
 '运动健身;赛马场': 209,
 '运动健身;足球场': 210,
 '运动健身;跆拳道': 211,
 '运动健身;马术': 212,
 '运动健身;高尔夫场': 213,
 '酒店宾馆;公寓式酒店': 214,
 '酒店宾馆;其它酒店宾馆': 215,
 '酒店宾馆;度假村': 216,
 '酒店宾馆;旅馆招待所': 217,
 '酒店宾馆;星级酒店': 218,
 '酒店宾馆;经济型酒店': 219,
 '酒店宾馆;酒店宾馆': 220,
 '酒店宾馆;酒店宾馆附属': 221,
 '酒店宾馆;青年旅社': 222,
 '银行金融;其它银行金融': 223,
 '银行金融;自动提款机': 224,
 '银行金融;财务公司': 225,
 '银行金融;银行': 226}

In [78]:
Beijing['Type'] = Beijing['Type'].map(Tpye_map_new)

In [79]:
Beijing.head(10)

,Unnamed: 0,Name,Street,X,Y,District,Type
0,1,弓箭手,东四环四方桥东南角欢乐谷内,39.866495,116.485366,北京市;朝阳区,9
1,10,希尔顿酒店(王府井店),王府井东街8号澳门中心F1-F4层,39.912968,116.407110,北京市;东城区,218
2,19,花园胡同小区-东门,花园胡同16,39.945864,116.397891,北京市;东城区,65
3,28,绮园花园-西南门,秦老胡同35号,39.935765,116.397783,北京市;东城区,65
4,37,安外花园7号楼-东门,和平里北街29号附近,39.957486,116.405613,北京市;东城区,65
5,46,东城区人民政府举报站-后门,育群胡同1号,39.927819,116.409970,北京市;东城区,65
6,55,许莹美术馆-南门,花园北巷2附近,39.947044,116.396851,北京市;东城区,65
7,64,东城区纪委监察局信访接待室-北门,什锦花园胡同12号附近,39.927789,116.409880,北京市;东城区,65
8,73,庆阳市人民政府驻北京联络处-北门,什锦花园胡同24号,39.928478,116.408739,北京市;东城区,65
9,82,北京龙源盛世影视广告有限公司-西门,花园路16号,39.969910,116.359669,北京市;海淀区,65

In [80]:
del Beijing['Name']
del Beijing['Street']
Beijing.columns = (['index','X','Y','District','Type'])

In [81]:
Beijing['rValue']=0
Beijing['rRange']=0

In [82]:
Beijing_Center_X = 39.9158
Beijing_Center_Y = 116.3908

In [83]:
Beijing['centerDistance']=0.0
for index,row in Beijing.iterrows():
    dis = ((row['X']-Beijing_Center_X)**2) + ((row['Y']-Beijing_Center_Y)**2)
    #print(dis)
    Beijing.loc[index,'centerDistance']=int(dis*1000)

In [84]:
Beijing['centerDistance'].value_counts()

3.0       8534
0.0       8419
2.0       8372
1.0       7816
5.0       7789
          ...
1342.0       1
1175.0       1
1176.0       1
1177.0       1
1066.0       1
Name: centerDistance, Length: 1291, dtype: int64

In [85]:
Beijing.head()
#北京的测试数据集准备好了

   index          X           Y District  Type  rValue  rRange  centerDistance
0      1  39.866495  116.485366  北京市;朝阳区     9       0       0            11.0
1     10  39.912968  116.407110  北京市;东城区   218       0       0             0.0
2     19  39.945864  116.397891  北京市;东城区    65       0       0             0.0
3     28  39.935765  116.397783  北京市;东城区    65       0       0             0.0
4     37  39.957486  116.405613  北京市;东城区    65       0       0             1.0

In [22]:
#把上海的model拿过来
path = "./Shanghai_With_R.csv"
dataset = pd.read_csv(path)
del dataset["Unnamed: 0"]

In [23]:
Shanghai_Center_X = 31.2315
Shanghai_Center_Y = 121.1935
dataset['centerDistance']=0.0
for index,row in dataset.iterrows():
    dis = ((row['X']-Shanghai_Center_X)**2) + ((row['Y']-Shanghai_Center_Y)**2)
    #print(dis)
    dataset.loc[index,'centerDistance']=int(dis*1000)

In [24]:
dataset['Type'] = dataset['Type'].map(Tpye_map_new)

In [25]:
dataset = dataset.dropna()

In [26]:
rValue_map = {}
n = 0
#rValue范围在0-99
for i in range(0,100):
    rValue_map[n] = (n//10)*10
    n+=1
    
dataset['rValue'] = dataset['rValue'].map(rValue_map)

In [27]:
extra = dataset.loc[:,['index','X','Y','District']]
combine = dataset.drop(['index','X','Y','District'],axis = 1)

In [28]:
y = combine.loc[:,['rValue','rRange']]
x = combine.drop(['rValue','rRange'],axis = 1)

In [37]:
x

         Type  centerDistance
0        17.0            59.0
1       125.0            63.0
2         9.0           298.0
3        17.0           207.0
4       190.0            37.0
...       ...             ...
231568   17.0           151.0
231569   55.0           355.0
231570  125.0            33.0
231571   65.0            33.0
231572  226.0            67.0

[231572 rows x 2 columns]

In [29]:
x['centerDistance'] = x['centerDistance'].fillna(x['centerDistance'].median)

In [30]:
x.Type.value_counts()

17.0     42699
68.0     14518
67.0     13578
65.0     12095
180.0    10095
         ...
197.0        2
159.0        1
104.0        1
98.0         1
49.0         1
Name: Type, Length: 215, dtype: int64

In [31]:
y1 = y.loc[:,['rValue']]
y2 = y.loc[:,['rRange']]
y2['rRange'] = y2['rRange']*10000

In [32]:
x_train, x_test, y1_train, y1_test, = train_test_split(x, y1, test_size=0.25, random_state=42)
x_train, x_test, y2_train, y2_test, = train_test_split(x, y2, test_size=0.25, random_state=42)

In [33]:
print(x_train.shape,x_test.shape)
print(y1_train.shape,y1_test.shape)

(173679, 2) (57893, 2)
(173679, 1) (57893, 1)

In [34]:
x['Type'].isnull().any()

False

In [35]:
#随机森林
v_random_forest = RandomForestClassifier(n_estimators=100)
v_random_forest.fit(x_train, y1_train)
#此处产出全部x的结果用于后续打印
y_pred1 = v_random_forest.predict(x)
acc_rf = round(v_random_forest.score(x_train, y1_train)*100,2)
acc_rf

/Users/longzhuren/anaconda3/envs/ee127/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

78.51

In [36]:
r_random_forest = RandomForestClassifier(n_estimators=100)
r_random_forest.fit(x_train, y2_train.astype('int'))
#此处产出全部x的结果用于后续打印
y_pred2 = r_random_forest.predict(x)
acc_rf = round(r_random_forest.score(x_train, y2_train.astype('int'))*100,2)
acc_rf

/Users/longzhuren/anaconda3/envs/ee127/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

49.93

In [86]:
##上海算出来的模型已经有了，现在我们来搞北京市的
Beijing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198848 entries, 0 to 207890
Data columns (total 8 columns):
index             198848 non-null int64
X                 198848 non-null float64
Y                 198848 non-null float64
District          198848 non-null object
Type              198848 non-null int64
rValue            198848 non-null int64
rRange            198848 non-null int64
centerDistance    198848 non-null float64
dtypes: float64(3), int64(4), object(1)
memory usage: 18.7+ MB

In [87]:
Beijing_extra = Beijing.loc[:,['index','X','Y','District']]
Beijing_combine = Beijing.drop(['index','X','Y','District'],axis = 1)

In [88]:
by = Beijing_combine.loc[:,['rValue','rRange']]
bx = Beijing_combine.drop(['rValue','rRange'],axis = 1)

In [89]:
bx

        Type  centerDistance
0          9            11.0
1        218             0.0
2         65             0.0
3         65             0.0
4         65             1.0
...      ...             ...
207886    68            20.0
207887    68            22.0
207888    17            34.0
207889   152            21.0
207890    17           108.0

[198848 rows x 2 columns]

In [140]:
beijing_y_pred1 = v_random_forest.predict(bx)

In [141]:
beijing_y_pred2 = r_random_forest.predict(bx)

In [142]:
predictRValue=pd.DataFrame(beijing_y_pred1)
predictRRange=pd.DataFrame(beijing_y_pred2)

In [143]:
print(predictRValue.shape)
print(predictRRange.shape)
print(bx.shape)

(198848, 1)
(198848, 1)
(198848, 2)

In [144]:
bx.reset_index(drop=True, inplace=True)

In [145]:
predictRRange[0] = predictRRange[0]*0.0001

In [146]:
print(predictRValue.shape)
print(predictRRange.shape)
print(bx.shape)

(198848, 1)
(198848, 1)
(198848, 2)

In [147]:
ans = pd.concat([bx,predictRValue],axis=1)
ans = pd.concat([ans,predictRRange],axis=1)

In [148]:
ans.columns = ['Type', 'centerDistance', 'rValue','rRange']

In [149]:
ans

        Type  centerDistance  rValue  rRange
0          9            11.0       0  0.0011
1        218             0.0       0  0.0000
2         65             0.0       0  0.0000
3         65             0.0       0  0.0000
4         65             1.0       0  0.0000
...      ...             ...     ...     ...
198843    68            20.0       0  0.0000
198844    68            22.0       0  0.0000
198845    17            34.0       0  0.0000
198846   152            21.0       0  0.0000
198847    17           108.0       0  0.0000

[198848 rows x 4 columns]

In [150]:
ans.shape

(198848, 4)

In [151]:
Beijing_extra.reset_index(drop=True, inplace=True)
ans = pd.concat([Beijing_extra,ans],axis=1)

In [156]:
ans

,index,X,Y,District,Type,centerDistance,rValue,rRange
0,1,39.866495,116.485366,北京市;朝阳区,9,11.0,0,0.0011
1,10,39.912968,116.407110,北京市;东城区,218,0.0,0,0.0000
2,19,39.945864,116.397891,北京市;东城区,65,0.0,0,0.0000
3,28,39.935765,116.397783,北京市;东城区,65,0.0,0,0.0000
4,37,39.957486,116.405613,北京市;东城区,65,1.0,0,0.0000
...,...,...,...,...,...,...,...,...
198843,1870975,39.821788,116.284902,北京市;丰台区,68,20.0,0,0.0000
198844,1870984,39.819858,116.277553,北京市;丰台区,68,22.0,0,0.0000
198845,1870993,39.909846,116.576041,北京市;朝阳区,17,34.0,0,0.0000
198846,1871002,39.819435,116.279600,北京市;丰台区,152,21.0,0,0.0000
198847,1871011,39.855663,116.713978,北京市;通州区,17,108.0,0,0.0000

In [157]:
ans.to_csv("./Beijing_ML_answer.csv")