In [1]:
import pandas as pd

In [2]:
path = "./Shanghai.csv"
Shanghai = pd.read_csv(path)

In [3]:
Shanghai.head()

,Unnamed: 0,Name,Street,X,Y,District,Type,Other
0,1,百里香奶油草莓基地,劳动路707弄169临,31.445123,121.312843,上海市;嘉定区,公司企业;公司企业,13738470228
1,10,EVCARD电动汽车分时租赁,亨嘉庄东南50米(徐星路西),31.474989,121.258079,上海市;嘉定区,生活服务;其它生活服务,
2,19,上海野生动物园游客服务中心,南六公路178号,31.057080,121.711432,上海市;浦东新区,休闲娱乐;旅游景点,
3,28,南汇・界浜水蜜桃基地,沔新路与申瓦路交叉口南150米,31.131025,121.638202,上海市;浦东新区,公司企业;公司企业,
4,37,阳山水蜜桃,桃浦镇真南路822弄温欣旅馆旁,31.283939,121.380621,上海市;普陀区,购物;超市,

In [4]:
Shanghai.District.value_counts().head(16)

上海市;浦东新区    49363
上海市;闵行区     22967
上海市;宝山区     17514
上海市;嘉定区     16023
上海市;松江区     15178
上海市;静安区     14142
上海市;徐汇区     13496
上海市;杨浦区     11582
上海市;黄浦区     11452
上海市;普陀区     11160
上海市;奉贤区     10916
上海市;青浦区      9734
上海市;长宁区      9019
上海市;虹口区      7591
上海市;金山区      6499
上海市;崇明区      4937
Name: District, dtype: int64

In [5]:
district_value = ['上海市;浦东新区','上海市;闵行区','上海市;宝山区','上海市;嘉定区','上海市;松江区','上海市;静安区',
                  '上海市;徐汇区','上海市;杨浦区','上海市;黄浦区','上海市;普陀区','上海市;奉贤区','上海市;青浦区',
                  '上海市;长宁区','上海市;虹口区','上海市;金山区','上海市;崇明区']

In [6]:
Shanghai=Shanghai.loc[Shanghai.District.isin(district_value)]

In [7]:
Shanghai.sort_values(by=['X','Y'],axis=0,ascending=[True,True])

,Unnamed: 0,Name,Street,X,Y,District,Type,Other
164922,1484299,舟山市六横开发建设管委会经济发展局,六横影院(六横镇政府南),29.745871,122.117648,上海市;普陀区,机构团体;政府机关,
164846,1483615,沈家门开发建设管理委员会,渔市大街8-10号附近,29.948114,122.280231,上海市;普陀区,机构团体;政府机关,
171291,1541620,瑞珈乐舞艺术培训中心,沈家门街道新街佛国商城六楼,29.949027,122.298712,上海市;普陀区,教育学校;培训,
159562,1436059,普陀区农产品质量安全检测中心,海莲路175号附近,29.958009,122.308792,上海市;普陀区,机构团体;公检法机构,
124636,1121725,三菱重工空调专卖店,香榭街31号,29.971783,122.311835,上海市;普陀区,购物;数码家电,
...,...,...,...,...,...,...,...,...
120306,1082755,冠华不锈钢制品股份公司,新洲村800号,31.841814,121.275150,上海市;崇明区,公司企业;公司企业,021-55898505
204786,1843075,上海慧岛养猪场,新庄,31.842071,121.285703,上海市;崇明区,公司企业;公司企业,
13730,123571,长江,跃进生态型标准化水产养殖二场西北,31.844245,121.226977,上海市;崇明区,地名地址;其它地名地址,
119456,1075105,新村北三路与新庄路交叉口,,31.844607,121.288728,上海市;崇明区,基础设施;路口,
158326,1424935,新洲灵堂,卫洲支路与新村北三路交叉口北,31.848173,121.276787,上海市;崇明区,生活服务;丧葬,18930707596

In [8]:
Shanghai.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231573 entries, 0 to 242555
Data columns (total 8 columns):
Unnamed: 0    231573 non-null int64
Name          231571 non-null object
Street        231565 non-null object
X             231573 non-null float64
Y             231573 non-null float64
District      231573 non-null object
Type          231573 non-null object
Other         231573 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 15.9+ MB

In [9]:
del Shanghai['Unnamed: 0'] 
del Shanghai['Other']
del Shanghai['Name']
del Shanghai['Street']

In [10]:
Shanghai.head()

           X           Y  District         Type
0  31.445123  121.312843   上海市;嘉定区    公司企业;公司企业
1  31.474989  121.258079   上海市;嘉定区  生活服务;其它生活服务
2  31.057080  121.711432  上海市;浦东新区    休闲娱乐;旅游景点
3  31.131025  121.638202  上海市;浦东新区    公司企业;公司企业
4  31.283939  121.380621   上海市;普陀区        购物;超市

In [11]:
Shanghai.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231573 entries, 0 to 242555
Data columns (total 4 columns):
X           231573 non-null float64
Y           231573 non-null float64
District    231573 non-null object
Type        231573 non-null object
dtypes: float64(2), object(2)
memory usage: 8.8+ MB

In [12]:
#Shanghai.to_csv("./newShanghai.csv")

In [14]:
Shanghai.loc[35031]

X           31.1565
Y           121.345
District    上海市;闵行区
Type         美食;冷饮店
Name: 35031, dtype: object