In [1]:
import pandas as pd

In [2]:
path = "./20170420-181200.csv"
file = pd.read_csv(path,parse_dates=['time'])

In [3]:
file.head()

,time,bikeID,bikeType,distID,distNum,distType,distX,distY,distance
0,2017-04-20 18:12:04,0216165609#,999,216165609,1,0,121.226109,31.396154,256.0
1,2017-04-20 18:12:04,0210091154#,2,210091154,1,0,121.230112,31.397899,491.0
2,2017-04-20 18:12:04,0210013703#,1,210013703,1,0,121.290971,31.394811,92.0
3,2017-04-20 18:12:04,0210042351#,1,210042351,1,0,121.290913,31.394981,105.0
4,2017-04-20 18:12:04,0216507300#,1,216507300,1,0,121.289266,31.393537,128.0

In [4]:
file.tail()

,time,bikeID,bikeType,distID,distNum,distType,distX,distY,distance
657082,2017-04-20 19:02:19,0210102595#,2,210102595,1,0,121.734243,30.989473,1359.0
657083,2017-04-20 19:02:19,0216060815#,2,216060815,1,0,121.734155,30.989355,1359.0
657084,2017-04-20 19:02:19,0210110751#,999,210110751,1,0,121.747247,30.995440,1372.0
657085,2017-04-20 19:02:19,0216114543#,999,216114543,1,0,121.783903,30.984742,228.0
657086,2017-04-20 19:02:19,0216075400#,999,216075400,1,0,121.783912,30.984826,236.0

In [5]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657087 entries, 0 to 657086
Data columns (total 9 columns):
time        657087 non-null datetime64[ns]
bikeID      657087 non-null object
bikeType    657087 non-null int64
distID      657087 non-null int64
distNum     657087 non-null int64
distType    657087 non-null int64
distX       657087 non-null float64
distY       657087 non-null float64
distance    657087 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 45.1+ MB

In [6]:
file['distNum'].sum()

657087

In [7]:
file['distType'].sum()

0

In [12]:
file['bikeID'].value_counts()

0216103032#    50
0216526853#    48
0216587177#    48
0216658293#    48
0216005964#    48
               ..
0216650416#     1
0216099836#     1
0210187927#     1
0216085852#     1
0216154171#     1
Name: bikeID, Length: 181490, dtype: int64

In [13]:
file['bikeID'].nunique()

181490

用户倾向于用新车还是旧车（bikeType)
新车旧车的分布
移动车辆比较多的地方在哪里（倒入地图）
查询点的距离与移动频次的关系